[Unit]
Description=Glean for interface %I with NetworkManager
Before=network-pre.target
Wants=network-pre.target glean-early.service
After=local-fs.target glean-early.service

# Red Hat
ConditionPathExists=!/etc/sysconfig/network-scripts/ifcfg-%I
# SuSE
ConditionPathExists=!/etc/sysconfig/network/ifcfg-%I

[Service]
Type=oneshot
User=root
Environment="ARGS=--interface %I"
ExecStart=%%GLEAN_SCRIPTS_DIR%%/python-glean --use-nm --debug %%EXTRA_ARGS%% $ARGS
RemainAfterExit=true

StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
