[Unit]
Description=Early glean execution
Before=network-pre.target
Wants=network-pre.target
After=local-fs.target

[Service]
Type=oneshot
User=root
ExecStart=%%GLEAN_SCRIPTS_DIR%%/glean-early.sh --debug
RemainAfterExit=true

StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
