[Unit]
Description=Glean system configuration
Before=systemd-networkd.service
After=glean-early.service
Requires=systemd-networkd.service
Wants=glean-early.service

[Service]
Type=oneshot
User=root
ExecStart=%%GLEAN_SCRIPTS_DIR%%/python-glean --distro networkd %%EXTRA_ARGS%%
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
